<footer class="footer">
      <div class="container-fluid">
          <nav class="pull-left">
          </nav>
          <div class="copyright pull-right">
              &copy; <script>document.write(new Date().getFullYear())</script>, por <a href="http://www.baizabal.xyz"></a>
          </div>
      </div>
</footer>
